/android/app/debug/
/android/app/profile/
/android/app/release/
app.*.map.json
app.*.symbols
assets/
.atom/
.build/
.buildlog/
/build/
*.class
/coverage/
.dart_tool/
/debug_info/
.DS_Store
.flutter-plugins-dependencies
.history/
.idea/
*.iml
jniLibs/
keystore.properties
lib/lang/l.dart
lib/lang/l_*.dart
*.lock
*.log
.metadata
migrate_working_dir/
*.p12
.pub/
.pub-cache/
.svn/